@font-face {
    font-family: 'gilroy-medium';
    font-style: normal;
    src: url('/coffeeshop/fonts/gilroy-medium.ttf');
}

@font-face {
    font-family: 'gilroy-bold';
    font-style: normal;
    src: url('/coffeeshop/fonts/gilroy-bold.ttf');

}

/*------------------------------Page Main------------------*/
body {
    border: solid 1px rgb(46, 226, 43);

}

.topmenu {
    height: 100px;
    vertical-align: middle;
    border: solid 1px rgb(226, 43, 189);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 40px;

}

img.logo {
    width: 15%;
    position: relative;
    margin-right: 170px;
    border: solid 1px rgb(233, 103, 218);

}

.navigation {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0.6px;
    text-decoration: none;
    color: black;
    margin-right: 70px;
    border: solid 1px rgb(233, 103, 218);
}

.navigation:hover {
    text-decoration: underline;
}

.navigation:active {
    color: #F9B300;
}

.personmenu {
    width: 27px;
    height: 25px;
    margin-right: 30px;
}

#search {
    margin-left: 244px;
}

#profile {
    margin-right: 0px;
}

.personmenu:hover {
    border: 3px solid #F9B300;
    border-radius: 5px;
}


/*------------------------------Page Main About------------------*/
section.coffeetittle {

    border: solid 1px rgb(233, 103, 218);
    padding-left: 80px;
    padding-right: 80px;
}

#cafe2,
#cafe1 {
    float: right;
    position: absolute;
}

#cafe1 {
    width: 46%;
    height: 70%;
    margin-left: 32vw;
    margin-top: -170px;
}

#cafe2 {
    width: 40%;
    margin-left: 37vw;
    margin-top: -120px;
}


h1.coffeetittle {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 55px;
    color: black;
    margin-top: 80px;
    letter-spacing: 0.5px;

}

.aboutcoffee {
    margin-top: 40px;
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}

#aboutcoffee1 {
    margin-top: 0px;
    margin-bottom: 20px;
}

#aboutcoffee3 {
    font-family: 'gilroy-bold', Arial, sans-serif;
}

.button1 {
    width: 300px;
    height: 50px;
    margin-top: 54px;
    background-color: #F9B300;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.button1:active {
    background: #c58d00;
}

.button1:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;

}

.button2 {
    color: #ffffff;
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
}

/*------------------------------Page Main Catalog Coffee------------------*/
section.catalogcoffee {
    border: solid 2px rgb(190, 103, 233);
    padding-left: 80px;
    padding-right: 80px;

}

h2.catalogcoffee {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: black;
    margin-top: 170px;
}


div.catalogcard {
    display: inline-block;
    aspect-ratio: 3/4;
    width: 24%;
    margin-right: 10px;
}

div.catalogcard:last-of-type {
    margin-right: 0px;
}

.catalogcard {
    border: solid 1px #e967da;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
    width: 20%;
    height: 440px;
}

.catalogcard p {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-align: center;
    padding-top: 35vh;
}

.catalogcard a {
    text-decoration: none;
    color: black;
}

.catalogcard a:hover {
    text-decoration: underline;
}


img.catalogphoto {
    position: absolute;
    width: 170px;
}

/*------------------------------Page Main Discount------------------*/
section.discount {
    border: solid 1px #e967da;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
}

.discountcard {
    border: solid 1px #e967da;
    margin-top: 40px;
}

h2.discount {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: black;
    text-align: right;

}

.discount p {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}

p.discount {
    text-align: right;
    letter-spacing: 0.3px;
    font-size: 18px;
}

p.skidki {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #F9B300;

}

option.gramm {
    /*-------------------------------------надо сделать бокс*/
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

p.rating {
    font-size: 19px;
    font-weight: 900;
}

span.comment {
    font-size: 12px;
    font-weight: 100;
}

p.vkus,
p.namecoffeeabout,
.buttontextdiscount {
    font-size: 14px;
}

p.namecoffee {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
}

span.priceold {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-size: 22px;
    color: #C6C6C6;
    text-decoration-line: line-through;
}

span.pricenew {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 32px;
}

.buttontextdiscount {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.buttondiscount {
    width: 140px;
    height: 40px;
    margin-top: 20px;
    background-color: #F9B300;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-left: 30px;
}

.buttondiscount:active {
    background: #c58d00;
}

.buttondiscount:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;

}

.stars1,
.stars5 {
    margin-right: 3px;
}

.ellipse25,
.ellipse32 {
    width: 10px;
    margin-right: 3px;
}

.bean {
    width: 19px;
    margin-right: 7px;
}

/*------------------------------Page Main About Us------------------*/

section.aboutus {

    border: solid 1px rgb(233, 103, 218);
    background-color: #FFF7E1;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

#cafe3,
#cafe4 {
    float: left;


}

#cafe3 {
    width: 46%;
    margin-left: 18px;
    position: absolute;
    margin-top: 50px;

}

#cafe4 {
    width: 36%;
    position: relative;
    margin-left: 20px;
    margin-top: 200px;

}


h2.aboutus {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: black;
    text-align: left;
    margin-top: 0px;

}

p.why {
    text-align: left;
    font-family: 'gilroy-bold', Arial, sans-serif;
    margin-top: 50px;
    font-size: 21px;
    font-weight: 900;
}

p.why2 {
    font-family: 'gilroy-medium', Arial, sans-serif;
    text-align: left;
    font-size: 18px;
}

h2.aboutus,
p.why,
p.why2 {
    margin-left: 700px;
}

/*------------------------------Page Main How We------------------*/
section.howwe {

    border: solid 1px rgb(233, 103, 218);
    background-image: url(/coffeeshop/assets/images/howwe.png);
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

h2.howwe {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
}

p.howwetext {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-size: 18px;
    line-height: 130%;
}

.buttonhow {
    width: 300px;
    height: 50px;
    margin-top: 54px;
    background-color: #F9B300;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.buttonhow:active {
    background: #c58d00;
}

.buttonhow:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;

}

.buttontexthow {
    color: #ffffff;
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
}

/*------------------------------Page Main News------------------*/

section.news {

    border: solid 1px rgb(233, 103, 218);
    background-color: #FFF7E1;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

h2.news {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: black;
    text-align: left;
    margin-top: 0px;

}

div.coffeecountry1,
div.coffeecountry2 {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
    border-radius: 20px;
    height: 300px;
    display: inline-block;
    margin: 10px;
}

div.coffeecountry1 {
    width: 50vw;
}

div.coffeecountry2 {
    width: 30vw;

}

#imgleo {
    float: left;
    height: 300px;
    position: absolute;
}


p.tanzcoffee,
p.afrcoffee {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 30px;
}

p.tanzcoffee,
p.tanz1,
p.tanz2,
a.more {
    margin-left: 300px;
    text-align: left;

}

p.afrcoffee,
p.afr,
a.more2 {
    margin-left: 50px;
}

p.tanz1,
p.tanz2,
p.afr {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-size: 14px;
    line-height: 140%;
}

a.more,
a.more2 {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-size: 14px;
    color: #F9B300;
    text-decoration: none;
}

#more,
#more2 {
    height: 8px;
    margin-left: 8px;
}

/*------------------------------Page Main Subskribe------------------*/

section.sub {
    border: solid 3px rgb(233, 103, 218);
    padding-left: 80px;

}

#cafe5,
#cafe6 {
    float: right;
    position: absolute;
}

#cafe5 {
    width: 38%;
    height: 70%;
    margin-left: 56vw;
    margin-top: -90px;
}

#cafe6 {
    width: 34%;
    margin-left: 58vw;
    margin-top: -10px;
}

h2.sub {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: black;
    text-align: left;
    margin-top: 150px;
}

p.sub {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
    line-height: 130%;
}

button.subscribe {
    width: 160px;
    height: 50px;
    margin-top: 54px;
    background-color: #F9B300;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    margin-left: -160px;

}

button.subscribe:active {
    background: #c58d00;
}

button.subscribe:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;

}

.subscribetext {
    color: #ffffff;
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
}

input.subemail {
    width: 760px;
    height: 10px;
    background: #F3F3F3;
    border-radius: 40px;
    border: 0px;
    padding: 20px;
}

p.rules {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

span.rules {
    color: #F9B300;
    font-weight: 700;

}

/*------------------------------Page Main Footer------------------*/
footer.mainfooter {
    padding: 80px;
}

a.mainfooter {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

a.mainfooter:hover {
    text-decoration: underline;
}

#mainfooter1 {
    margin-left: 440px;
}

#mainfooter2,
#mainfooter3 {
    margin-left: 80px;
}



/*------------------------------Page Catalog Coffee------------------*/
.coffeetittle2 {
    background-color: #F9B300;
    height: 320px;
    padding-left: 80px;
    padding-right: 80px;
    border: solid 1px #F9B300;
}


#cafe2catalog,
#cafe1catalog {
    float: right;
    position: absolute;
}

#cafe1catalog {
    width: 38%;
    margin-left: 48vw;
    margin-top: -15px;

}

#cafe2catalog {
    width: 35%;
    margin-left: 51vw;
    margin-top: -35px;
}

.coffeetittle2 .h1catalog {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 52px;
    color: #ffffff;
    margin-top: 120px;
    line-height: 87px;
    letter-spacing: 0.8px;
}




/*------------------------------Page Catalog Roasting------------------*/
section.alltypesofcoffee {
    padding: 0px 80px 0px 80px;
}

.alltypesofcoffee section {
    display: inline-block;
}

section.roasting {

    border-radius: 20px;
    width: 23%;
    aspect-ratio: 3/4;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
}

.rectangle35 {
    float: left;
    position: relative;
    width: 12px;
    height: 85%;
    margin-left: 20px;
    margin-top: 30px;
}


.roasting p {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 68px;
    margin-bottom: 32px;
    letter-spacing: 0.5px;

}

.roasting .roastingbean {
    margin-left: 38px;
    margin-bottom: 40px;

}

.roasting .bean:first-of-type {
    margin-left: 12px;
}



/*------------------------------Page Catalog Choose type of coffee------------------*/
section.choosetypeofcoffee {
    border: solid 1px rgb(233, 103, 218);
    border-radius: 20px;
    width: 74%;
    margin-left: 10px;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
}

.rectangle37 {
    float: inline-start;
    position: relative;
    width: 88%;
    height: 12px;
    margin: 22px 40px 0px 65px;
}

.choosetypeofcoffee div {
    display: inline-block;
}

/*------------------------------Page Catalog Choose type of coffee Geography------------------*/


div.choosegeorgaphy {
    font-family: 'gilroy-medium', Arial, sans-serif;
    letter-spacing: 1px;
    padding-left: 70px;
}

div.choosevkus {
    font-family: 'gilroy-medium', Arial, sans-serif;
    letter-spacing: 1px;
    padding-left: 40px;
}

.choosegeorgaphy p,
.choosevkus p {
    font-weight: 900;
    font-size: 18px;
}

.choosegeorgaphy label,
.choosevkus label {
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
}

.choosegeorgaphy input,
.choosevkus input {
    margin-bottom: 22px;
    color: #E4E4E4;
}

/*------------------------------Page Catalog Make Coffee Card-----------------------------*/
section.makecoffee {
    border: solid 1px rgb(233, 103, 218);
    padding: 20px 80px 20px 80px;

}

div.makecoffee {
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 20px;
    padding: 10px;
    width: 10%;
    margin-right: 9px;
    display: inline-block;
    aspect-ratio: 1/1;
}

div.makecoffee:last-of-type {
    margin-right: 0px;
}

p.makecoffee {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    border: solid 1px rgb(233, 103, 218);
}

.makecoffee img {
    height: 40%;
    border: solid 1px rgb(233, 103, 218);
}


/*------------------------------Page Catalog Price------------------*/
section.catalogprice {
    border: solid 1px #e967da;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    background-color: #F5F5F5;

}

.catalogpricecard {

    margin-top: 40px;
    padding: 10px;
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    border: 1px solid #E4E4E4;
    border-radius: 20px;
    background-color: #FFFFFF;
}



p.popular1,
p.popular2 {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    color: #F9B300;
}

option.gramm {
    /*-------------------------------------надо сделать бокс*/
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

img.catalogcardphoto {
    width: 120px;
}

p.rating {
    font-size: 16px;
    font-weight: 900;
}

span.comment {
    font-size: 10px;
    font-weight: 100;
}

p.vkus,
p.namecoffeeabout,
.buttontextdiscount {
    font-size: 14px;
}

p.namecoffee {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 20px;

}

span.priceold {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-size: 22px;
    color: #C6C6C6;
    text-decoration-line: line-through;
}

span.pricenew {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 32px;
}

.buttontextdiscount {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.buttondiscount {
    width: 140px;
    height: 40px;
    margin-top: 20px;
    background-color: #F9B300;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-left: 30px;
}

.buttondiscount:active {
    background: #c58d00;
}

.buttondiscount:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;

}

img.stars1,
img.stars5 {
    margin-right: 3px;
    width: 20px;
}

.ellipse25,
.ellipse32 {
    width: 10px;
    margin-right: 3px;
}

.bean {
    width: 19px;
    margin-right: 7px;
}

/*------------------------------Page Catalog Tea------------------*/
.teatittle1 {
    background-color: #F9B300;
    height: 380px;
    padding-left: 80px;
    padding-right: 80px;
    border: solid 1px #f100f9;
}


#tea1catalog {
    float: right;
    position: absolute;
    width: 40%;
    margin-left: 54.3vw;
    margin-top: -60px;
}



.h1catalog {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 47px;
    color: #ffffff;
    margin-top: 80px;
    line-height: 87px;
}

/*------------------------------Page Catalog Coffeemashine------------------*/
.coffeemashinetittle1 {
    background-color: #F9B300;
    height: 380px;
    padding-left: 80px;
    padding-right: 80px;
    border: solid 1px #F9B300;
}


#coffeemashine1catalog {
    float: right;
    position: absolute;
    width: 28%;
    margin-left: 64vw;
    margin-top: 120px;
}


/*------------------------------Page Catalog Health Eat------------------*/

.healtheattittle1 {
    background-color: #F9B300;
    height: 380px;
    padding-left: 80px;
    padding-right: 80px;
    border: solid 1px #F9B300;
}


#healtheat1catalog {
    float: right;
    position: absolute;
    width: 20%;
    margin-left: 64vw;
    margin-top: 180px;
}


/*------------------------------Page Catalog------------------*/