@font-face {
    font-family: 'gilroy-medium';
    font-style: normal;
    src: url('/coffeeshop/fonts/gilroy-medium.ttf');
}

@font-face {
    font-family: 'gilroy-bold';
    font-style: normal;
    src: url('/coffeeshop/fonts/gilroy-bold.ttf');

}

/*------------------------------Page Main------------------*/
body {
    border: solid 1px rgb(46, 226, 43);
    padding: 80px;
    padding-top: 20px;
}

.topmenu {
    height: 100px;
    vertical-align: middle;
    border: solid 1px rgb(226, 43, 189);

}

img.logo {
    width: 15%;
    position: relative;
    margin-right: 170px;
    border: solid 1px rgb(233, 103, 218);

}

.navigation {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-right: 70px;
    border: solid 1px rgb(233, 103, 218);
}

.navigation:hover {
    text-decoration: underline;
}

.navigation:active {
    color: #F9B300;
}

.personmenu {
    width: 23px;
    height: 21px;
    margin-right: 33px;
}

#search {
    margin-left: 190px;
}

.personmenu:hover {
    border: 3px solid #F9B300;
    border-radius: 5px;
}


/*------------------------------Page Main About------------------*/
section.coffeetittle {

    border: solid 1px rgb(233, 103, 218);
}

#cafe2,
#cafe1 {
    float: right;
    position: absolute;
}

#cafe1 {
    width: 46%;
    height: 70%;
    margin-left: 32vw;
    margin-top: -170px;
}

#cafe2 {
    width: 40%;
    margin-left: 37vw;
    margin-top: -120px;
}


h1.coffeetittle {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 55px;
    color: black;
    margin-top: 80px;
    letter-spacing: 0.5px;
}

.aboutcoffee {
    margin-top: 40px;
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
}

#aboutcoffee1 {
    margin-top: 0px;
    margin-bottom: 20px;
}

#aboutcoffee3 {
    font-family: 'gilroy-bold', Arial, sans-serif;
}

.button1 {
    width: 300px;
    height: 50px;
    margin-top: 54px;
    background-color: #F9B300;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.button1:active {
    background: #c58d00;
}

.button1:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;

}

.button2 {
    color: #ffffff;
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
}

/*------------------------------Page Main Catalog Coffee------------------*/
section.catalogcoffee {
    border: solid 2px rgb(190, 103, 233);

}

h2.catalogcoffee {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: black;
    margin-top: 170px;
}


div.catalogcard {
    display: inline-block;
    /*не работает*/
}

.catalogcard {
    border: solid 1px #e967da;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
    width: 20%;
    height: 440px;
}

.catalogcard p {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-align: center;
}

.catalogcard img {
    align-items: center;
    /*не работает*/
}

/*------------------------------Page Main Discount------------------*/
.discountcard {
    border: solid 1px #e967da;
}

h2.discount {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: black;
    text-align: right;

}

.discount p {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
}

p.discount {
    text-align: right;
    letter-spacing: 0.3px;
    font-size: 18px;
}

p.skidki {
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    color: #F9B300;

}

option.gramm {
    /*-------------------------------------надо сделать бокс*/
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

p.rating {
    font-size: 19px;
    font-weight: 900;
}

span.comment {
    font-size: 12px;
    font-weight: 100;
}

p.vkus,
p.namecoffeeabout .buttontextdiscount {
    font-size: 14px;
}

p.namecoffee {
    font-family: 'gilroy-bold', Arial, sans-serif;
}

span.priceold {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-size: 22px;
    color: #C6C6C6;
    text-decoration-line: line-through;
}

span.pricenew {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 32px;
}

.buttontextdiscount {
    font-family: 'gilroy-medium', Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

.buttondiscount {
    width: 140px;
    height: 40px;
    margin-top: 20px;
    background-color: #F9B300;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-left: 30px;
}

.buttondiscount:active {
    background: #c58d00;
}

.buttondiscount:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;

}

.stars1,
.stars5 {
    margin-right: 3px;
}

.ellipse25,
.ellipse32 {
    width: 10px;
    margin-right: 3px;
}

.bean {
    width: 19px;
    margin-right: 7px;
}

/*------------------------------Page Main About Us------------------*/

section.aboutus {

    border: solid 1px rgb(233, 103, 218);
}

#cafe3,
#cafe4 {
    float: left;


}

#cafe3 {
    width: 46%;
    margin-left: 18px;
    position: absolute;
    /*margin-top: 180px;*/

}

#cafe4 {
    width: 30%;
    margin-left: 34px;
    position: relative;
    /*margin-top: 300px;*/

}


h2.aboutus {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: black;
    text-align: left;
    margin-top: 400px;

}


p.why {
    text-align: left;
    font-family: 'gilroy-bold', Arial, sans-serif;
    margin-top: 50px;
    font-size: 21px;
    font-weight: 900;
}

p.why2 {
    font-family: 'gilroy-medium', Arial, sans-serif;
    text-align: left;
    font-size: 18px;
}


/*------------------------------Page Catalog------------------*/
.h1catalog {
    margin-top: 150px;
    font-size: 50px;
    color: #ffffff;
}

#cafe2catalog {
    float: right;
    width: 38%;
    margin-right: 80px;
    margin-top: 0px;
    border: solid 1px blueviolet;
}

.coffeetittle2 {
    background-color: #F9B300;
    height: 468px;
    border: solid 1px blueviolet;
}

/*------------------------------Page Catalog------------------*/