@font-face {
    font-family: 'gilroy-regular';
    font-style: normal;
    src: url('/coffeeshop/fonts/gilroy-regular.ttf');
}

@font-face {
    font-family: 'gilroy-black';
    font-style: normal;
    src: url('/coffeeshop/fonts/gilroy-black.ttf');

}

@font-face {
    font-family: 'gilroy-bold';
    font-style: normal;
    src: url('/coffeeshop/fonts/gilroy-bold.ttf');

}

/*------------------------------Page Main------------------*/
body {
    font-family: 'gilroy-regular', Arial, sans-serif;
}

.topmenu {
    padding: 20px 80px 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.logo {
    width: 18%;
}

img.logo {
    width: 100%;
}

div.navigation {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation a:active {
    color: #F9B300;
}

div.personmenu {
    width: 13%;
    display: flex;
    justify-content: space-between;
}

.personmenu a {
    border: 3px solid transparent;
}

.personmenu img {
    width: 80%;
}

.personmenu a:hover {
    border-color: #F9B300;
    border-radius: 5px;
}


/*------------------------------Page Main About------------------*/
section.coffeetittle {
    padding-left: 80px;
    padding-right: 80px;
}

#cafe2,
#cafe1 {
    float: right;
    position: absolute;
}

#cafe1 {
    width: 46%;
    height: 70%;
    margin-left: 32vw;
    margin-top: -170px;
}

#cafe2 {
    width: 40%;
    margin-left: 37vw;
    margin-top: -120px;
}


h1.coffeetittle {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-weight: 900;
    font-size: 55px;
    color: black;
    margin-top: 80px;
    letter-spacing: 0.5px;

}

.aboutcoffee {
    margin-top: 40px;
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-size: 18px;
    line-height: 130%;
}

#aboutcoffee1 {
    margin-top: 0px;
    margin-bottom: 20px;
}

#aboutcoffee3 {
    font-family: 'gilroy-bold', Arial, sans-serif;
}

.button1 {
    width: 300px;
    height: 50px;
    margin-top: 54px;
    background-color: #F9B300;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.button1:active {
    background: #c58d00;
}

.button1:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;

}

.button2 {
    color: #ffffff;
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
}

/*------------------------------Page Main Catalog Coffee------------------*/
section.catalogcoffee {
    padding: 20px 80px 20px 80px;
    margin-top: 50px;
}

h2.catalogcoffee {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-size: 35px;
    margin-top: 170px;
}

.catalogs {
    display: flex;
    justify-content: space-between;
}

div.catalogcard {
    width: 24%;
    aspect-ratio: 3/4;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.catalogcard p {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 18px;
    color: black;
    padding-bottom: 30%;
    padding-top: 10%;
}

.catalogcard a {
    text-decoration: none;
    color: black;
}

.catalogcard a:hover {
    text-decoration: underline;
}


img.catalogphoto {
    width: 58%;
}

/*------------------------------Page Main Discount------------------*/
section.discount {
    padding: 40px 80px 20px 80px;
}

.allcards {
    padding: 20px 0px 20px 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2.discount {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-size: 35px;
    color: black;
    text-align: right;

}

p.discount {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: right;
    letter-spacing: 0.3px;
    font-size: 18px;
    margin-bottom: 40px;
}

.allcards .arrowlast {
    width: 5%;
    margin-right: 4%;
}

.allcards .arrownext {
    width: 5%;
    margin-left: 4%;
}

.discountcard {
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(146, 146, 146, 0.25);
    width: 17vw;
    padding: 20px 20px 50px 30px;
}

.discountcardtitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.discounts {
    flex: 1 0 50%;
}

.discounts p {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 14px;
    color: #F9B300;

}

.discounts img {
    width: 70px;
    position: absolute;
    margin: -70px 0px -10px -10px;

}

.discountcardtitle .selectweight {
    border: 1px solid #F9B300;
    border-radius: 5px;
    background: #FFF7E1;
    width: 44%;
    aspect-ratio: 4/1;
    font-size: 14px;
    font-family: 'gilroy-regular', Arial, sans-serif;
    text-align: center;
    flex: 1 0 40%;
}

div.discountrating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.discountallrating {
    padding-top: 4%;
    flex: 1 0 30%;
    margin-left: 10px;
}


div.discountphoto {
    flex: 1 0 40%;
}

.discountphoto img {
    width: 100%;
}

p.rating {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 16px;
    margin-top: 3px;
}

span.comment {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.discountallrating .stars1,
.discountallrating .stars5 {
    width: 17px;
    height: 16px;
    margin-top: 3px;
}

.discountallrating .ellipse25,
.discountallrating .ellipse32 {
    width: 7px;
    margin-right: 3px;
}

.discountallrating .bean {
    width: 15px;
    margin-right: 4px;
}

.discountcard p.vkus,
.discountcard p.namecoffeeabout {
    font-size: 14px;
}

.discountcard p.vkus {
    margin-bottom: 2px;
}


.pricecard p.vkus,
.pricecard p.namecoffeeabout {
    font-size: 14px;
}

.pricecard p.vkus {
    margin-bottom: 2px;
}


.namecoffeeabout .namecoffee {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
}

div.price {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price .old {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-size: 20px;
    color: #C6C6C6;
    text-decoration-line: line-through;
}

.price .new {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-size: 28px;
}

.price .button span {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

button.price {
    flex: 0 1 60%;
    aspect-ratio: 4/1;
    background-color: #F9B300;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
}

button.price:active {
    background: #c58d00;
}

button.price:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;
}

/*------------------------------Page Main About Us------------------*/

section.aboutus {
    background-color: #FFF7E1;
    padding: 30px 80px 30px 80px;
    display: flex;
}

div.aboutusimg {
    flex: 0 1 50%;
}

#cafe3 {
    width: 40%;
    margin-left: 18px;
    position: absolute;
    margin-top: 50px;
}

#cafe4 {
    width: 30%;
    position: absolute;
    margin-left: 20px;
    margin-top: 180px;
}

div.aboutus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 35%;
    letter-spacing: 0.5px;
}

h2.aboutus {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    margin-top: 0px;
}


.aboutus p.why {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 21px;
    margin-top: 40px;
}

.aboutus p.why2 {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-size: 18px;
}

/*------------------------------Page Main How We------------------*/
section.howwe {
    background-image: url(/coffeeshop/assets/images/howwe.png);
    background-color: #494436;
    background-size: cover;
    color: #ffffff;
    padding: 100px 80px 120px 80px;

}

h2.howwe {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
}

p.howwetext {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-size: 18px;
    line-height: 130%;
}

.buttonhow {
    width: 300px;
    height: 50px;
    margin-top: 54px;
    background-color: #F9B300;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.buttonhow:active {
    background: #c58d00;
}

.buttonhow:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;

}

.buttontexthow {
    color: #ffffff;
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
}

/*------------------------------Page Main News------------------*/

section.news {
    background-color: #FFF7E1;
    padding: 30px 80px 30px 80px;
}

h2.news {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: black;
    text-align: left;
    margin-top: 0px;

}

.news1,
.news2 {
    display: flex;
    align-items: stretch;
}

div.coffeecountry1,
div.coffeecountry2 {
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
    border-radius: 20px;
    margin: 10px;
}

div.coffeecountry1 {
    flex: 1 0 50%;
}

div.coffeecountry2 {
    flex: 1 0 30%;

}

#imgleo {
    float: left;
    height: 36.6%;
    position: absolute;
}


p.tanzcoffee,
p.afrcoffee {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-top: 30px;
}

p.tanzcoffee,
p.tanz1,
p.tanz2,
a.more {
    margin-left: 300px;
    text-align: left;

}

p.afrcoffee,
p.afr,
a.more2 {
    margin-left: 50px;
}

p.tanz1,
p.tanz2,
p.afr {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-size: 14px;
    line-height: 140%;
}

a.more,
a.more2 {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-size: 14px;
    color: #F9B300;
    text-decoration: none;
}

#more,
#more2 {
    height: 8px;
    margin-left: 8px;
}

/*------------------------------Page Main Subskribe------------------*/

section.sub {
    padding-left: 80px;

}

#cafe5,
#cafe6 {
    float: right;
    position: absolute;
}

#cafe5 {
    width: 38%;
    height: 70%;
    margin-left: 56vw;
    margin-top: -90px;
}

#cafe6 {
    width: 34%;
    margin-left: 58vw;
    margin-top: -10px;
}

h2.sub {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    color: black;
    text-align: left;
    margin-top: 150px;
}

p.sub {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
    line-height: 130%;
}

button.subscribe {
    width: 160px;
    height: 50px;
    margin-top: 54px;
    background-color: #F9B300;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    margin-left: -160px;

}

button.subscribe:active {
    background: #c58d00;
}

button.subscribe:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;

}

.subscribetext {
    color: #ffffff;
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 36px;
}

input.subemail {
    width: 760px;
    height: 10px;
    background: #F3F3F3;
    border-radius: 40px;
    border: 0px;
    padding: 20px;
}

p.rules {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-style: normal;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}

span.rules {
    color: #F9B300;
    font-weight: 700;

}

/*------------------------------Page Main Footer------------------*/
.mainfooter {
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.logo {
    width: 18%;
}

img.logo {
    width: 100%;
}

div.navfooter {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.navfooter a {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.navfooter a:hover {
    text-decoration: underline;
}

/*------------------------------Page 2 Catalog Coffee------------------*/
.coffeetittle2 {
    background-color: #F9B300;
    height: 320px;
    padding-left: 80px;
    padding-right: 80px;
    border: solid 1px #F9B300;
}


#cafe2catalog,
#cafe1catalog {
    float: right;
    position: absolute;
}

#cafe1catalog {
    z-index: 1;
    width: 38%;
    margin-left: 48vw;
    margin-top: -15px;

}

#cafe2catalog {
    z-index: 2;
    width: 35%;
    margin-left: 51vw;
    margin-top: -35px;
}

.coffeetittle2 .h1catalog {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-weight: 900;
    font-size: 52px;
    color: #ffffff;
    margin-top: 120px;
    line-height: 87px;
    letter-spacing: 0.8px;
}




/*------------------------------Page 2 Catalog Roasting------------------*/
section.alltypesofcoffee {
    padding: 0px 80px 0px 80px;
    display: flex;
    justify-content: space-between;
}


section.roasting {
    border-radius: 20px;
    width: 23%;
    aspect-ratio: 3/4;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    flex: 0 1 24%;
}

.rectangle35 {
    float: left;
    position: relative;
    width: 12px;
    height: 85%;
    margin-left: 20px;
    margin-top: 30px;
}


.roasting p {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 68px;
    margin-bottom: 32px;
    letter-spacing: 0.5px;

}

.roasting .roastingbean {
    margin-left: 38px;
    margin-bottom: 40px;

}

.roasting .bean:first-of-type {
    margin-left: 12px;
}



/*------------------------------Page 2 Catalog Choose type of coffee------------------*/
section.choosetypeofcoffee {
    border-radius: 20px;
    width: 74%;
    margin-left: 10px;
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    flex: 0 1 75%;
}

.rectangle37 {
    float: inline-start;
    position: relative;
    width: 88%;
    height: 12px;
    margin: 22px 40px 0px 65px;
}

.choosetypeofcoffee1 {
    padding: 0px 70px 10px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.choosegeorgaphy {
    font-family: 'gilroy-regular', Arial, sans-serif;
    letter-spacing: 1px;
}

div.choosevkus,
div.choosespecial,
div.choosetype {
    font-family: 'gilroy-regular', Arial, sans-serif;
    letter-spacing: 1px;
}

.choosegeorgaphy p,
.choosevkus p,
.choosespecial p,
.choosetype p {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.choosegeorgaphy label,
.choosevkus label,
.choosespecial label,
.choosetype label {
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
}

.choosegeorgaphy input,
.choosevkus input,
.choosespecial input,
.choosetype input {
    margin-bottom: 22px;
    color: #E4E4E4;
}

/*------------------------------Page 2 Catalog Make Coffee Card-----------------------------*/
section.makecoffee {
    padding: 20px 80px 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.makecoffee {
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 20px;
    width: 10%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

p.makecoffee {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.makecoffee img {
    height: 40%;
}

/*------------------------------Page 2 Catalog Price------------------*/
section.catalogprice {
    padding: 40px 80px 20px 80px;
    background-color: #F5F5F5;
}

div.allprices {
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricecard {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(146, 146, 146, 0.25);
    width: 17vw;
    padding: 20px 20px 50px 30px;

}

.pricecardtitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pricecardtitle .selectweight {
    border: 1px solid #F9B300;
    border-radius: 5px;
    background: #FFF7E1;
    width: 44%;
    aspect-ratio: 4/1;
    font-size: 14px;
    font-family: 'gilroy-regular', Arial, sans-serif;
    text-align: center;
    flex: 1 0 40%;
}

.popularnew {
    flex: 1 0 50%;
}

.popularnew p {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 14px;
    color: #F9B300;
    margin-top: 0px;
}

article.pricerating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.allrating {
    padding-top: 4%;
    flex: 1 0 30%;
    margin-left: 10px;
}


div.pricephoto {
    flex: 1 0 40%;
}

.pricephoto img {
    width: 100%;
}


p.rating {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 16px;
    margin-top: 3px;
}

span.comment {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-size: 12px;
    font-weight: 100;
}

.allrating .stars1,
.allrating .stars5 {
    width: 17px;
    height: 16px;
    margin-top: 3px;
}

.allrating .ellipse25,
.allrating .ellipse32 {
    width: 7px;
    margin-right: 3px;
}

.allrating .bean {
    width: 15px;
    margin-right: 4px;
}

.pricecard p.vkus,
.pricecard p.namecoffeeabout {
    font-size: 14px;
}

.pricecard p.vkus {
    margin-bottom: 2px;
}


.namecoffeeabout .namecoffee {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
}

div.coffeeprice {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coffeeprice .new {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-size: 28px;
}

.coffeeprice .button span {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

button.coffeeprice {
    flex: 0 1 60%;
    aspect-ratio: 4/1;
    background-color: #F9B300;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
}

button.coffeeprice:active {
    background: #c58d00;
}

button.coffeeprice:focus {
    outline: none;
    box-shadow: 0 0 0 3px #b38000;
}

/*----------for discount card---------------*/
.discountsimbol {
    flex: 1 0 50%;
}

.discountsimbol p {
    font-family: 'gilroy-bold', Arial, sans-serif;
    font-size: 14px;
    color: #F9B300;
}

.discountsimbol img {
    width: 70px;
    position: absolute;
    margin: -70px 0px -10px -10px;
}

.coffeeprice .old {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-size: 20px;
    color: #C6C6C6;
    text-decoration-line: line-through;

}

/*------------------------------Page 2 Catalog Button------------------*/

section.buttonshowmore {
    padding: 20px 80px 80px 80px;
    background-color: #F5F5F5;
}

button.buttonshowmore {
    width: 100%;
    height: 60px;
    font-size: 16px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #E4E4E4;
}

/*------------------------------Page 2 Catalog Subskribe------------------*/
#cafe7,
#cafe8 {
    float: right;
    position: absolute;
}

#cafe7 {
    width: 38%;
    height: 70%;
    margin-left: 56vw;
    margin-top: -50px;
}

#cafe8 {
    width: 34%;
    margin-left: 58vw;
    margin-top: -10px;
}

/*------------------------------Page Catalog Tea------------------*/
.teatittle1 {
    background-color: #F9B300;
    height: 380px;
    padding: 0px 80px 0px 80px;
    border: solid 1px #f100f9;
}


#tea1catalog {
    float: right;
    position: absolute;
    width: 40%;
    margin-left: 54.3vw;
    margin-top: -60px;
}



.h1catalog {
    font-family: 'gilroy-black', Arial, sans-serif;
    font-weight: 900;
    font-size: 47px;
    color: #ffffff;
    margin-top: 80px;
    line-height: 87px;
}

/*------------------------------Page3 Catalog Tea Types------------------*/
section.typeoftea1 {
    border: solid 1px rgb(233, 103, 218);
    padding: 20px 80px 20px 80px;

}

div.typeoftea {
    box-shadow: 0px 0px 30px rgba(149, 149, 149, 0.25);
    border-radius: 20px;
    padding: 10px;
    width: 10%;
    margin-right: 9px;
    display: inline-block;

    aspect-ratio: 1/1;
    border: solid 1px rgb(233, 103, 218);
}

div.typeoftea1:last-of-type {
    margin-right: 0px;
}

p.typeoftea {
    font-family: 'gilroy-regular', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.typeoftea img {
    height: 40%;
    border: solid 1px rgb(233, 103, 218);
}




/*------------------------------Page Catalog Coffeemashine------------------*/
.coffeemashinetittle1 {
    background-color: #F9B300;
    height: 380px;
    padding-left: 80px;
    padding-right: 80px;
    border: solid 1px #F9B300;
}


#coffeemashine1catalog {
    float: right;
    position: absolute;
    width: 28%;
    margin-left: 64vw;
    margin-top: 120px;
}


/*------------------------------Page Catalog Health Eat------------------*/

.healtheattittle1 {
    background-color: #F9B300;
    height: 380px;
    padding-left: 80px;
    padding-right: 80px;
    border: solid 1px #F9B300;
}


#healtheat1catalog {
    float: right;
    position: absolute;
    width: 20%;
    margin-left: 64vw;
    margin-top: 180px;
}


/*------------------------------Page Catalog------------------*/